In [0]:
# Code to read csv file into colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [0]:
#STEP-2: Autheticate E-Mail ID

auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
#2.1 Get the file
downloaded = drive.CreateFile({'id':'14rRPgaBhacpW15ZkmtA3g2rKWa98LJVq'}) # replace the id with id of file you want to access
downloaded.GetContentFile('station_salvador.csv')

In [6]:
import pandas as pd
df = pd.read_csv('station_salvador.csv')
df.head()

   YEAR     JAN     FEB     MAR     APR  ...   D-J-F   M-A-M   J-J-A   S-O-N  metANN
0  1961  999.90  999.90  999.90  999.90  ...  999.90  999.90  999.90  999.90  999.90
1  1962   26.07   25.97   26.07   25.77  ...   25.67   25.44   22.77   23.67   24.39
2  1963  999.90   25.78   26.38   25.68  ...   25.51   25.25   22.46   24.05   24.32
3  1964   25.27   25.67   25.47   24.97  ...   25.20   24.84   22.87   23.64   24.14
4  1965   24.96   25.76   26.06   24.96  ...   25.06   25.19   23.23   24.29   24.44

[5 rows x 18 columns]